.container{
    display: flex;
    width:1200px;
    gap:10px;
    justify-content: space-around;
    margin: auto;
    flex-grow: 0;
  
  }
h1{
    text-align: center;
    
}
p{
    text-align: justify;
}