.conta{
    color: rgb(13, 13, 13);
    font-size: larger;
    border-radius: 10%;
    justify-content: center;
    display: flex;
}
.pessoal{
    color: rgb(13, 12, 12);
    font-size: larger;
    border-radius: 10%;
    justify-content: center;
    display: flex;
}
.style{
    border-radius: 10px;
    background-color: rgb(226, 131, 201);
    justify-content: center;
    display: flex;
   
}
.endereco{
    color: rgb(20, 20, 20);
    font-size: medium;
    border-radius: 10%;
    justify-content: center;
    display: flex;
    
}
.botao{
    color: rgb(14, 6, 6);
   display: flex;
    border-radius: 10%;
    justify-content: center;
    columns: 10px;
    
    
}
