body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f471;
}

.container{
    width: 900px;
    margin: auto;
    background-color: #f9fafc;
    padding: 20px;
    
}

h1{

    padding: 10px;
}

.linha{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.bloco{
    background-color: rgb(89, 93, 99);
    padding: 15px;
    border: 1px solid #555b60;
    flex: 1;
    border-radius: 10px;
}

.noticia{
    background-color: rgb(91, 98, 101);
    padding: 10px;
    border: 1px solid #d5d4e6;
    border-radius: 10px;
    width: 250px;
    height: 600px;
}

