.navbar{
    padding: 18px;
    display: flex;
    background-color: rgb(98, 64, 72);
    justify-content: end;
    height: 25px;
}

.navbar a{
    color: rgb(153, 120, 236);
    text-decoration: none;
    padding: 5px;
    font-size: large;

}
a:hover{
 color:rgb(93, 159, 165) ;
}
.titulo{
    text-align: center;
    font-size: 25px;
}