h2{
    text-align: center;
}
.container{
    display: flex;
    width:1200px;
    gap:10px;
    justify-content: space-around;
    margin: auto;
  
  }
h1{
    text-align: center;
}

.linke{
    text-align: center;
}