.container{
  display: flex;
  width:1200px;
  gap:10px;
  justify-content: space-around;
  margin: auto;

}




.imagens {
padding: 80px 60px; 
display: flex;
gap:200px

}

.cafes {
width: 100px;
flex-grow: 0;
}

h1{
 text-align: center;
 

}

img{
  width: 150%;
  height: 120%;
}
